html,
.wszystko{
    width: 100%;
    height: 100%;
}
body {
    background: linear-gradient(90deg, rgba(176,155,113,1) 0%, rgba(237,223,179,1) 34%, rgba(135,128,94,1) 100%);
}
.naglowek{
    width: 100%;
    height: 10%;                    /*????????*/  
}
.nazwaStrony{                   /*dunno co chjcialek*/ 
    height:10%;
}
.zaloguj{  
    position:fixed;
    top:5%;
    right:1%;
    height: 30x;
    width: 100px;
    background-color: #B09B71;
    border: 1px solid black; 
}
.zarejestruj{
    position:fixed;
    top:7.25%;
    right:1%;

    height: 30x;
    width: 100px;
    float:right;
    background-color: #B09B71;
    border: 1px solid black; 
}
.nawigacja{
    
    margin-top: 5px;
    margin-bottom: 10px;
}

button{                                 /*butony początek*/                          
    cursor: pointer;
    margin-right: 1px;
    border-radius: 5px;
}
.listaFilmow{   
    height: 75px;
    width: 250px;
    background-color: #B09B71;
    border: 1.5px solid black; 
}
.listaFilmow:hover{
    transition-duration: 1s;
    background-color: rgb(255, 255, 255);
}

.listaSerialow{
    height: 75px;
    width: 250px;
    background-color: #B09B71;
    border: 1.5px solid black; 
}
.listaSerialow:hover{
    transition-duration: 1s;
    background-color: white;
}

.rankingFilmow{
    height: 75px;
    width: 250px;
    background-color: #B09B71;
    border: 1.5px solid black; 
}
.rankingFilmow:hover{
    transition-duration: 1s;
    background-color: white;
}

.rankingSerialow{
    height: 75px;
    width: 250px;
    background-color: #B09B71;
    border: 1.5px solid black;  
}
.rankingSerialow:hover{
    transition-duration: 1s;
    background-color: white;
}           
.wyszukaj{                          /*butony koniec*/
    height: 30x;
    width: 100px;
    background-color: #B09B71;
    border: 1px solid black; 
}                                                 
.wyszukiwarka{  
    position: fixed;
    float: right;  
}
.bodyy{
    text-align: center;
}
.stopka{
    position:fixed; 
    bottom:0;
    height: 7%;
    width:99%;
}
.stopkaLewo{
    float: left;
    padding-left: 1%;
}
.stopkaSrodek{
padding-left: 33%;
        
   
}
.stopkaPrawo{
    float:right;
    text-align: center;
    padding-right: 1%;
}
